doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Cateogry List
	body 
		h1 Cateogry List
		if(error !== '')
			h1= error
		if list.length
			ul
				each val in list
					li= val.name

