extends layout.pug
block content
  h1 Admin Panel For E-Commerce App
  p It is created with nodejs
  nav 
    ul 
      li
        a(href='/create-category') Category Creation Page
      li
        a(href='/create-product') Product Creation Page