doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Product
  body 
    h1 Create Product
    div 
      form(action="create-product" method="post") 
        label(for="product-name")
        input(type="text" name="product-name" id="product-name" placeholder="Enter a product name")
        label(for="category-name")
        select(name="category-uuid") 
          if list
            each item in list 
              option(value= item.uuid)= item.name
        button(type="submit") Submit
    h1= result
    if products
      ul 
        each item in products 
          li= item.name